# ansible
**/*.retry
**/ansible.log

## roles
**/ansible-thoteam.nexus3-oss/
**/geerlingguy.jenkins/

# direnv
**/.envrc

# pandoc
**/*.html

# SSH
**/*.pem

# terraform
**/terraform.tfstate*

# vim/nvim
**/*.swp
